html {
    background-color: #191b1d;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
}

h3 {
    font-size: 1.2rem;
    font-weight: 600;
}

main {
    width: 40rem;
    max-width: 90%;
    margin: 0 auto 5rem auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    row-gap: 2rem;
}

main > header {
    background-color: #242628;
}

header {
    color: #fff;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    border-radius: 0 0 1rem 1rem;
}

header img {
    width: 4rem;
    height: auto;
}

header h3, .posts h3 {
    color: #fba056;
}

.card {
    background-color: #242628;
    border-radius: 1rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 1rem;
}

input[type="text"], textarea {
    background-color: #36393a;
    color: #ffffff;
    font-size: 1rem;
    border: 2px solid #212224;
    border-radius: 0.5rem;
    padding: 0.5rem;
    max-width: 100%;
    min-width: 8em;
    width: 100%;
    flex-shrink: 1;
}

.compose span {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    flex-wrap: wrap;
    row-gap: 0.3rem;
}

.compose span input {
    max-width: 15em;
}

label[for="username"] {
    padding: 0 0.5rem;
    font-weight: 600;
}

textarea {
    min-width: 100%;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

button[type="submit"] {
    align-self: flex-end;
    width: 6em;
    padding: 0.4em 1em;
    font-size: 1.1rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #4693ff;
    color: #1d1d1d;
    transition: ease 0.1s;
}

button[type="submit"]:hover {
    background-color: #b9d6ff;
    cursor: pointer;
}

section.posts {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    row-gap: 1rem;
}

span.post-id {
    font-size: 0.8em;
    color: #999999;
    align-self: flex-end;
}

span.post-user {
    word-break: break-all;
}

p.post-content {
    border-radius: 0.5rem;
    background-color: #36393a;
    padding: 0.5rem;
    width: 100%;
}

#topLogo {
    transition: transform 0.2s ease;
}

#topLogo:hover {
    transform: scale(1.1);
}

#topLogo:active {
    transform: scale(1);
}
